/*버튼 기본 위치*/
.plusButton, .closeButton, .doneButton {
    width : 80px;
    height: 80px;

    background: none;
    border-style: none;

    border-radius: 50%;
    background-color: #ffffff;

    position: fixed;

    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
    
    bottom: 2.5vw;
}

.deleteQuestionButton, .addQuestionButton {
    background: none;
    border-style: none;
}

.closeButton, .doneButton {
    visibility: hidden;
}

/*버튼 가로 위치*/
.plusButton, .closeButton {
    right : 2.5vw;
}

.doneButton {
    right : calc(5vw + 80px);
}

/*버튼 모양*/
.plusButton::after, .doneButton::after, .closeButton::after, .deleteQuestionButton::after, .addQuestionButton::after {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.plusButton::after {
    content:'add';
}
.doneButton::after, .addQuestionButton::after {
    content:'done';
}
.closeButton::after, .deleteQuestionButton::after {
    content:'close';
}

/*버튼 Hover Event*/
.plusButton:hover {
    background-color: #dbdbdb;
}
.doneButton:hover {
    background-color: #ccefff;
}
.closeButton:hover {
    background-color: #ffc6c6;
}

/*버튼 Active Event*/
.plusButton:active {
    background-color: #c2c2c2;
}
.doneButton:active {
    background-color: #9bd6f0;
}
.closeButton:active {
    background-color: #fa9696;
}

.options {
    background: none;
}

.selectedEmoji {
    border: 2px solid black;
}

.nonSelectedEmoji {
    border: none;
}