.emojiField {
    width: 100%;

    margin-top: 120px;
}

.headEmojiField {
    width : 150px;
    height: 100%;

    margin: 0 1%;

    text-align: center;
}

.dividingLine {
    width : 0.1%;
    height: 100%;

    margin: 0 1%;

    background-color : #edd501;
}

.bodyEmojiField {
    width : calc(100% - 150px - 0.1% - 4%);
    height: 100%;

    padding: 0 1%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    font-size: 30px;
}

.emojiPad {
    width: calc(100% - 40px);
    height: 220px;

    margin: 15px 20px;
    padding: 10px;

    background-color: #FFFDDE;
    border-radius: 5px;   
    border: 1px solid #dedede;

    display: flex;
    flex-direction: row;
}

.emojiText {
    width: 100%;
    height: 100%;
    
    font-family: "Moonlily";
    font-size: 900%;

    resize: none;
    background: none;
    border: none;
    overflow: hidden;
}

.mainEmoji {
    font-size: 100px;
    width: 100%;
}

.date {
    font-size: 30px;
    font-family: 'GangwonEdu_OTFBoldA';
}

.e {
    text-align: center;
    width: 10%;
    font-size: 6vw;
}

@media screen and (max-width: 940px) {
    .e {
        width: 20%;
        font-size: 7vw;
    }
}

@media screen and (min-width: 940px) and (max-width: 1400px) {
    .e {
        width: 20%;
        font-size: 66px;
    }
}