@font-face {
    font-family: "Moonlily";
    src: url("../font/Moonlily Demo Version.ttf");
}

.header {
    width: 100%;
    height: 100px;

    align-items: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.headerItem {
    height: 80%;

    margin: auto 0 auto 30px;

    font-family: "Moonlily";
    font-size: 50px;
}

@media screen and (max-width: 1000px) {
    .headerItem {
        margin: auto 0 auto 3%;
    }
}